/* Mobile First Styles */
/* Media Query Below for Tablet and Desktop */

/* Default Styles */
* {
	box-sizing: border-box;
	font-size: 18px;
}

body {
	margin: 0 auto;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

img {
	width: 100%;
	overflow: hidden;
}

#container {
	margin: 0 auto;
	width: 80%;
}

a {
	text-decoration: none;
	font-size: 1em;
}

a:visited {
	color: black;
	} 


/* Header Styles */
header {
	border-bottom: 4px solid peachpuff;
}

h1 {
	margin: 20px auto;
	text-align: center;
	font-size: 1.5em;

}

button {
	font-size: .8em;
}

.search {
	text-align: center;
	padding: 0 20px;
}

input {
	font-size: .8em;
}

.iconBox {
	text-align: center;
	margin: 0 auto;
	font-size: 1.5em;
	padding: 20px 20px;
}

.fa {
	padding: 0 20px;
	width: 20%;
}

.fa:hover {
	font-size: 1.2em;
	color: peachpuff;
	transition: .5s all ease;
}

/* Listing Styles */

.listing {
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	vertical-align: top;
	padding: 4px 4%;
	box-shadow: 5px 5px 5px 5px slategray;
}

.listing p {
	text-align: center;
}

.listingInfo {
	display: inline-block;
}