/* Mobile First Styles */


/* Media Query Below for Tablet and Desktop */


/* Default Styles */

@font-face {
    font-family: 'If';
    src: url('./fonts/If.ttf') format('truetype');
    /* Safari, Android, iOS */
}

* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

img {
    width: 100%;
    overflow: hidden;
}

#container {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    overflow: scroll;
}

.searchButton {
	padding: 4px;
    font-size: 14px;
    background: #83c7b7;
	border-radius:0px 10px 10px 0px;
	text-align: right;
	border: none;
	color: white;
}

a {
    text-decoration: none;
    font-size: 1em;
 	color: white;
}


a:hover {
    color: #83c7b7;
    transition: .5s all ease;
}


/* Header Styles */

header {
    font-family: 'If';
    background: black;
    border-bottom: 4px solid #83c7b7;
}

h1 {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    margin-left: 15%;
}

button {
	padding: 4px;
    font-size: 14px;
    background: #83c7b7;
	border-radius:10px 10px 10px 10px;
	text-align: right;
	border: none;
	color: white;
}

input {
    font-size: 14px;
    padding: 2px;
}

.iconBox {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 1.5em;
    padding: 20px 20px 0px 0px;
}

.fa {
    padding: 0 11px;
    width: 20%;
}

.fa:hover {
    color: #83c7b7;
    transition: .5s all ease;
}


/* Nav Link Styles */

nav {
    max-height: 0px;
    background: -webkit-linear-gradient(top, #b5ddd4 0%, #83c7b7 17%, #52b29b 33%, #008a6a 67%, #005843 83%, #00241c 100%);
    padding: 7px;
    transition: all .4s;
    overflow: hidden;
    border-bottom: 2px solid darkslategray;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 20px auto 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.hamburguesa,
input.hamburguesa-menu-toggler {
    position: absolute;
    width: 100%;
    height: 40px;
}

.hamburguesa {
    z-index: 1;
    background: -webkit-linear-gradient(top, #b5ddd4 0%, #83c7b7 17%, #52b29b 33%, #008a6a 67%, #005843 83%, #00241c 100%);
    padding: 7px;
    margin-right: 9px;
}

.hamburguesa > hr {
    width: 20%;
    margin: 5px auto;
}

input.hamburguesa-menu-toggler {
    z-index: 2;
    opacity: 0;
}

input.hamburguesa-menu-toggler:checked + nav {
    max-height: 1000px;
}


/* Main Image Styles */

.mainImg {
    background-image: url('images/AsILayDyingwallpaper.jpg');
}

.headlineImg {
    width: 100%;
}

.search {
    text-align: center;
    height: 40px;
    padding: 6px;
    background-color: rgba(20, 20, 20, .8);
}


/* Single Listing Styles */

.listing .singleListing {
    width: 80%;
    background: white;
    color: slategray;
    margin: 20px auto;
    overflow: scroll;
    vertical-align: top;
    border-radius: 5px;
    padding: 4px 4%;
    border: 8px solid #83c7b7;
    border-radius: 5px 5px 5px 5px;
}


.listing p {
    text-align: center;
    vertical-align: middle;
}
.listing .plus{
	margin: 17px auto;
}

.listing .style{
	text-align: left;
	font-size: 14px;
	border-bottom: 2px solid slategray;
	padding: 20px 0;
}

.listing .price{
	float: right;
	color: #52b29b;
}

.listing .description{
	font-size: 14px;
}

.listingInfo {
    display: inline-block;
}

footer li h5{
    border-top: 2px solid slategray;
    width: 80%;	
    margin: 20px auto;
    }


/***************************/


/* MEDIA QUERIES FULL SIZE */


/***************************/

@media only screen and (min-width: 670px) {
    .hamburguesa {
        display: none;
    }
    .iconBox {
        display: inline-block;
        text-align: right;
        width: 30%;
        font-size: 1.5em;
        padding: 20px 10px 0px 0px;
    }
    h1 {
        text-align: left;
        margin-left: 10%;
    }
    ul {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    nav {
        max-height: 1000px;
        margin-top: 0px;
    }
    li {
        display: inline-block;
        padding: 0px 1%;
        margin: 0 auto;
        vertical-align: middle;
        text-decoration: none;
    }
    .listing {
        display: inline-block;
        width: 20%;
        background: white;
        color: slategray;
        margin: 20px 2%;
        overflow: hidden;
        vertical-align: top;
        padding: 20px 4%;

        border: 4px solid #83c7b7;
    	border-radius: 5px 5px 5px 5px;
    }
    .singleListing {
    	width: 100%;
    	height: 1000px;
    	margin: 40px 0;
    	overflow: scroll;
    }
    .listing p {
        text-align: center;
    }
    .listingInfo {
        display: inline-block;
    }
    footer li h5{
    border-top: none;
    width: 80%;	
    margin: 20px auto;
    }
    footer {
    margin: 20px auto;
    width: 80%;
    border-top: 2px solid #83c7b7;
    }
    .finePrint {
    	font-size: 12px;
    }
    /* imgContainer{
    	border: 8px solid #83c7b7;
    	border-radius: 5px 5px 5px 5px;
    } */
}
